{% extends "base.html" %} {% block title %}{{ product.name }}{% endblock %} {%
block content %}
<div class="bg-white shadow-md rounded-md p-6">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <img
      src="/static/img/{{ product.image }}"
      alt="{{ product.name }}"
      class="w-full rounded-md"
    />
    <div>
      <h1 class="text-2xl font-bold">{{ product.name }}</h1>
      <p class="text-gray-600">{{ product.price }}</p>
      <p class="mt-4">{{ product.description }}</p>
      <a
        href="/demo/{{ product.id }}"
        class="block mt-4 bg-green-500 text-white text-center py-2 rounded-md hover:bg-green-600"
        >Xem giao diện demo</a
      >
    </div>
  </div>
  <div class="mt-8">
    <h2 class="text-lg font-bold mb-4">Source Code:</h2>
    <pre class="bg-gray-100 p-4 rounded-md overflow-x-auto">
{{ product.source_code }}</pre
    >
  </div>
</div>
{% endblock %}
